langchain_community
pinecone
langchain
langchain_openai
nemoguardrails
streamlit
beautifulsoup4
langchain_core
langchain_groq
langchain_pinecone
langchain_text_splitters
python-dotenv
langsmith

langchain_google_genai
google-generativeai
langchain.embeddings